@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body { 
  font-family: 'Source Sans Pro';
}

.title-slide {
  background: #3e8ac7;
}

.title-slide hgroup h1 {
  color: #e0e0e0;
}

.title-slide hgroup p {
  color: #c9c9c9;
}

hgroup h2 {
  color: #3e8ac7;
}

.titlepage {
  background-image: url(title.jpg); 
  background-position: 0% 0%
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.titlepage .title:before {
  display: none;
}

.titlepage h1 {
  margin-top: 13% !important;
}

.title, .author, .date {
  text-align: right;
  color: #75aadb;
  font-size: larger;
  font-weight: bold;
}

.initial_prompt {
  visibility: hidden !important;
}

.slide > h1:before {
  content: "Drilldown data discovery with Shiny";
  text-align: left;
  display: block;
  position: fixed;
  top: 0;    
  right: 0;
  left: 0;
  height: 3%;
  font-size: 50%;
  padding: 0.5%;
  font-weight: bold;
  line-height: 100%;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  background-color: #75aadb; /* background-image: url("navbar.png"); */
  background-image: url("rstudio-white.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  border-bottom: solid 1px rgb(180,180,180);
  padding-left: 1.5%;
  padding-top: 1.5%;
}

h1 {
  margin-top: 5% !important;
}

#email_key, #repo_key {
  font-weight: bold;
}

#email_value, #repo_value  {
  color: #0000EE;
  text-decoration: underline;
}
